@charset "utf-8";
/* CSS Document */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, figure,form, fieldset, legend, img { margin:0; padding:0; }

body,html{
	font-size:24px;
	color:#444;
	width: 100%;
	height: 100%;
}
h1 ,h2, h3, h4, h5, h6, strong b {
	font-weight:normal;
	
}
i ,em{
	font-style:normal;
}
a{ text-decoration:none;
color:#444;}
li{ list-style:none;}

.clearfix{
	zoom:1;
} 
.clearfix:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	
}
input{outline:none;
	}
img {
	width: 100%;
	display: block;
	border: 0;
}
/* 网页制作开始 */


